
html, body {
    height: 100%;
  }
.inicio, .participar {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

input:invalid {
    background-color: #fde7e7;
  }

  