{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page">
  <h2>teste {{usuario}}</h2>
  <div class="container">
    <button type="button" class="btn btn-primary position-relative">
      Inbox
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        99+
        <span class="visually-hidden">notificação</span>
      </span>
    </button>
  </div>

  <div class="container">
    <h3><span class="badge bg-secondary">Sala</span></h3>

    {% if salas|length > 0 %}
    <div class="container">
      {% for sala in salas %}
      <div class="row row-cols-2">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{sala.codigoSala}}</h5>
              <a class="btn btn-primary" href="{% url 'sala' codigo=sala.codigoSala %}">Acessar</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="alert alert-warning" role="alert">
        <p>nenhuma sala cadastrada</p>
      </div>
      {% endif %}
    </div>
</div>
{% endblock %}