{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page">
  <div class="container">
    
    <br>
    <h3>
      <small class="text-muted">Criar Sala</small>
    </h3>
    <p>
      <span class="text-muted">Ja tem cadastro?</span><a href="">Login</a></span>
    </p>
    <form method="post" action="{% url 'criar_sala_sorteio' %}">
      {% csrf_token %}
      <div class="container">
        <h4>
          <small class="text-muted">Responsavel Sala</small>
        </h4>
        <div class="mb-3">
          <label for="nome" class="form-label">Apelido da Sala</label>
          <input type="text" class="form-control" 
          placeholder="Ex: EscolaXavierParaAlunosSuperDotados"
          id="codigo" name="codigo"
          minlength="4" maxlength="20"
          required
          >
        </div>
        <div class="mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input type="text" class="form-control" id="nome" name="nome" 
          placeholder="nome ou apelido, seja livre"
          minlength="4" maxlength="30"
          required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email"   
          placeholder="email@example.com" aria-describedby="emailHelp"
          minlength="11" maxlength="30"
          oninput="validateEmail(this)"
          required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Senha</label>
          <input type="password" class="form-control" id="senha" name="senha" 
          placeholder="utilize Letras, numeros e caracteres especiais" aria-describedby="passwordHelp"
          minlength="8" maxlength="32"
          required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Repita a senha</label>
          <input type="password" class="form-control" id="confirmarSenha" name="senha" 
          aria-describedby="passwordHelp"
          minlength="8" maxlength="32"
          required 
          pattern="^.{1,}$" 
          oninput="checkSenha(this)"
          >
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Confirmar</button>
    </form>
    <script src="{% static 'js/validarFormularioEntrada.js' %}"></script>
  </div>

</div>

{% endblock %}