{% extends 'base.html' %}
{% load static %}
{% block content %}

  <div class="page">
    <section id="participar" class="container participar">
        <div class="container">
           <!-- Adicionando classes Bootstrap aos campos -->
          <form method="post" action="{% url 'participar' codigo=codigo %}">
            {% csrf_token %}
            <div class="mb-3">
              <label for="{{ form.codigo.id_for_label }}" class="form-label">Código da Sala</label>
              <input type="text" class="form-control" id="{{ form.codigo.id_for_label }}" name="{{ form.codigo.name }}" value="{{ codigo }}" readonly>
          </div>
            <div class="mb-3">
              <label for="nome" class="form-label">Nome</label>
              <input type="text" class="form-control" id="nome" name="nome" 
              placeholder="apenas letras, números e traços em um nome de usuário"
              minlength="4" maxlength="30"
              oninput="validarNomeUsuario(this)"
              required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email"
                  placeholder="email@example.com" aria-describedby="emailHelp"
                  minlength="11" maxlength="30"
                  oninput="validateEmail(this)"
                  required>
            </div>
          
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" onchange="toggleSubmit()">
                <label class="form-check-label" for="exampleCheck1">Confirmo que minhas informações estão corretas</label>
            </div>
            <button type="submit" class="btn btn-primary" id="submitButton" disabled>Confirmar</button>
          </form>
        </div>
    </section>
    <script src="{% static 'js/permitirConfirmar.js' %}" defer></script>
    <script src="{% static 'js/validarFormularioEntrada.js' %}"></script>
</div>
  
{% endblock %}